@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
    background-color:azure;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 3vw;
    display:grid;
    height:100%;
    align-content: center;
    justify-content: center;
    margin:0;
}

button {
    width: 100%
}

.errorInput {
    background-color: salmon;
}

.errorText {
    color:red;
    font-size: 1vw;
    text-align: center;
}