/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color:azure;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 3vh;
    display: grid;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.top-right {
    flex: 50%;
    text-align:right;
}

a {
    color: black;
    text-decoration: none;
}

.float-child {
    width:50%;
    float:left;
}

.controls {
    display: inline-block;
    display: -moz-inline-box;
    width: 90%;
    text-align: center;
}

.textInput {
    font-family: 'Roboto Mono', monospace !important;
}

pre {
    background: transparent;
    display: inline;
    border: none;
    padding: 0;
}

.full-button {
    width: 100%;
    background-color:lightblue;
    border-radius: 1ch;
    border: 1px solid lightseagreen;
}

.post {
    background-color: lightblue;
    width: 99%;
    border-radius: 0.5ch;
    margin: 0.5%;
    border: 1px solid lightseagreen;
    position: relative;
}